@model WebApplication2.Models.SecondaryDatabase.SecondaryModel

@{
    ViewBag.Title = "Details";
}
<body style="background-color: lightblue;text-align:center">

    <h2 class="well" style="font-family:Courier New, Courier, monospace">
        View Secondary Applicant's Details

    </h2>@DateTime.Now
    <div>

        <hr />
        <dl class="dl-horizontal" style="font-family:Courier New, Courier, monospace;font-size:large;text-align:left">
            <dt>
                @Html.DisplayNameFor(model => model.mID) :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mName) :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mSurnname) :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mSurnname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mID_Number) :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mID_Number)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mHome_Address) :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mHome_Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Parent_Name) :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Parent_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contact_Number) :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contact_Number)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.First_Additional) :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.First_Additional)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Current_School) :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Current_School)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mGrade) :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mGrade)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Subjects) :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Subjects)
            </dd>

        </dl>
    </div>
    <p style="text-underline-position:under" ;>
        @Html.ActionLink("Edit", "Edit", new { id = Model.mID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>