@model WebApplication2.Models.PrimaryModel

@{
    ViewBag.Title = "Delete";
}
<body style="background-color: #d0b8b8; text-align: center">
    <h2 class="well" style="font-family:Courier New, Courier, monospace">Delete Primary Applicant</h2>@DateTime.Now

    <h3 style="font-family:Courier New, Courier, monospace"><b>Are you sure you want to delete this?</b></h3>
    <div>

        <hr />
        <dl class="dl-horizontal" style="font-family: Courier New, Courier, monospace; font-size: large; text-align:left">
            <dt>
                @Html.DisplayNameFor(model => model.mID) :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mName) :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mSurnname) :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mSurnname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mID_Number) :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mID_Number)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mHome_Address) :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mHome_Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Parent_Name) :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Parent_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contact_Number) :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contact_Number)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mPrimaryID) :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mPrimaryID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mPrimaryName) :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mPrimaryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mCurrentGrade) :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mCurrentGrade)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>