@model IEnumerable<WebApplication2.Models.PrimaryModel>

@{
    ViewBag.Title = "Index";
    

    
}

<body style="background-color:#d0b8b8">
    @foreach (WebApplication2.Models.PrimaryModel primary in Model)
    {
        @*<h2>@primary.hello() </h2>*@
    <span style="font-family:'Microsoft YaHei'">@primary.WelcomeMessage()</span> <br>
    }
    <h3><b>List of Primary  Applicants</b></h3>@DateTime.Now <span class="btn-danger"> @Html.ActionLink("Log out", "Index", "Administator")</span>
    <hr />
    <div class="col-sm-4" id="div">
        @using (Html.BeginForm("Names", "Primary", FormMethod.Get))
        {

            @Html.TextBox("searchname")<input type="submit" value="Search" />
            <span>Search Name</span>

        }

    </div>
    <br /><br />
    <div id="listpdf">
        <table class="table table-bordered" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:small">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.mID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.mName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.mSurnname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.mID_Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.mHome_Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Parent_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact_Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.mPrimaryID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.mPrimaryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.mCurrentGrade)
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr class="table table-hover" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:medium">
                    <td>
                        @Html.DisplayFor(modelItem => item.mID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mSurnname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mID_Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mHome_Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Parent_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact_Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mPrimaryID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mPrimaryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mCurrentGrade)
                    </td>

                    <td class=""> @Html.ActionLink("Edit", "Edit", new { id = item.mID })</td>
                    <td class="">@Html.ActionLink("Details", "Details", new { id = item.mID }) </td>
                    <td style="color:red"> @Html.ActionLink("Delete", "Delete", new { id = item.mID })</td>

                </tr>
            }

        </table>

    </div>


    <a id="Download" class="btn btn-primary">Download List</a>
</body>
@*@section scripts{
    <script>
        $('#Download').click(function () {
            var el = document.getElementById('listpdf');
            ht
        })
    //    $('#div').animate({ "height": "350px" }, 5000, "swing", function () {})

        
    </script>
}*@

